.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px !important; }
a {
  color: #f57670;
  text-decoration: none;
}
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.forgot-password {
  color: #f57670;
}

.forgot-password a {
  color: #f57670 !important;
  text-decoration: none !important;
}

.login {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: #fff;
  font-size: 15px;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  background: #edeef2;
  outline: none;
  border: 0px !important;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 325px;
  border-radius: 10px;
  font-size: 15px;
  color: #000;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  background: #f57670;
  border: 1px solid #f57670;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  width: 150px;
  margin-top: 30px;
}

input[type="submit"]:hover {
  background: #fff;
  border-color: #f57670;
  color: #f57670;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.extra-buttons {
  display: flex;
  margin-left: 8px;
}

.extra-buttons > div {
  background-color: #fff;
  width: 50%;
  margin: 10px;
  text-align: center;
  font-size: 15px;
}

.logo {
  width: 150px;
  margin: 0px auto;
  display: block;
  margin-bottom: 60px;
}
